#wrapper{
  height:900px;
  width:1500px
}

#header{
  background-color: red;
  height:80px;
  width:1300px;
}

.header{
  color:white;
  text-align: center;
}

#content{
  background-color: green;
  height:1000px;
  width:1300px;
}

#footer{
  background-color: blue;
  height:80px;
  width:1300px;
}

.white{
  color:white;
}
