body{
  background-color: green;
}

#wrapper{
  height:1000px;
  width:800px;
  margin:0 auto;
}

#header{
  background-color: red;
  height:80px;
  width:800px;
  text-align: center;
}

#nav1{
  background-color: pink;
  height:80px;
  width:250px;
  float: left;
}

#nav2{
  background-color: orange;
  height:80px;
  width:800px;
}

#content{
  background-color: blue;
  height:800px;
  width:800px;
}

#footer{
  background-color: yellow;
  height:80px;
  width:800px;
}
